// SCSS bestand voor de header van het publieke deel.

.navbar-top-nav {
	li {
		a {
			padding: 17px;
		}
		a:hover {
			background-color: #00000014;
		}
	}
}

.navbar-top {
    background-color: #ffffff;
    font-weight: 500;
    color: #023149;
    padding: 0.2rem 1rem;
    font-size: 14px;
}

.navbar-main {
     height: 58px;
	 border-bottom: 1px solid #e2e4e6;	
}

// Logo

#logo {
    height: 50px;
    margin-bottom: 28px;
    width: auto;
  -webkit-transition: height 1s; 
  -moz-transition: height 1s; 
  -ms-transition: height 1s; 
  -o-transition: height 1s; 
  transition: height 1s;  
}

.small-logo {
	margin-bottom: 0 !important;
	height: 40px !important;
}

// Mijn FoneDay dropdown menu

#mijnFoneDayLink {
	color: inherit;
}

#mijnFoneDayMenu {
	box-shadow: 0 0 10px rgba(0,0,0,.3);
	border: 0 !important;
	border-radius: 0 !important;
	padding: 0 !important;
    margin: 0.15rem 0 0 !important;
}

.dropdown-mijnfoneday {
	padding: 0.6rem 1.5rem !important;
	border-bottom: 1px solid #EEE;
}

.zoekbalk {
	width: 270px;
    margin-right: 11px;
    height: 41px;
    -webkit-box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 3px -2px rgba(0, 0, 0, 0.75);
}

// Icons

.fa-shopping-cart {
    font-size: 24px;
    padding-left: 15px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.75);
    padding-bottom: 3px;
    padding-right: 18px;
    background-color: #0f71b8;
    color: #ffffff;
}

.fa-check {
	color: green;
}

.box-shadow {
	 box-shadow: 0 0 5px rgba(0,0,0,.25);
}

// Navigatie balk store

.navbar-store {
    border-bottom: 1px solid #e2e4e6;	
    height: 40px;
    font-size: 12px;
    box-shadow: 0 0 5px rgba(0,0,0,.25);

	.nav-link {

		padding-right: 2.5rem !important;

	}
}

#cart-dropdown {

	a:hover {

		text-decoration: none;

	}

	.dropdown-menu {
			box-shadow: 0px 0px 5px 0px rgba(178, 178, 178, 0.78);
			-webkit-box-shadow: 0px 0px 5px 0px rgba(178, 178, 178, 0.78);
			-moz-box-shadow: 0px 0px 5px 0px rgba(178, 178, 178, 0.78);
		    border-radius: 2px;
		    right: 0 !important;
		    left: unset;
		    margin: 8px 0px 0 0;
		    min-width: 20rem;
		    #top-cart {
		    	margin-bottom: 25px;
		    	.row {
		    		font-size: 13px;
		    		.col-3 { 
		    			.aantal {
		    				    color: white;
							    background-color: #0f71b8;
							    padding: 6px 9px 6px 9px;
							    border-radius: 50%;
							    font-weight: 600;
		    			}
		    		}
		    		.col-9 {
		    		    .total-amount {
		    				    color: #36a9e1;
    							font-weight: 600;
		    			}
		    		}
		    	}
		    }

		    #center-cart {
		    	.row {
		    		.col-3 {
		    			.cart-item-image {
		    				    width: auto;
							    height: 50px;
		    			}
		    		}
		    		.col-8 {
		    			.cart-item-title {

		    			}
		    			font-size: 14px;
		    		}
		    	}

		    }

		    #footer-cart {
		    	.row {
		    		.col {
		    		}
		    	}
		    }
		}
	
	.dropdown-menu:after {
			bottom: 100%;
			left: 93%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(213, 213, 213, 0);
			border-bottom-color: #d5d5d5;
			border-width: 6px;
			margin-left: -6px;
	}

}
    #custom-search-form .search-query {
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
    }
 
    #custom-search-form button {
		    border: 0;
		    background: none;
		    padding: 2px 5px;
		    position: absolute;
		    right: 475px;
		    bottom: 15px;
		    margin-bottom: 0;
		    border-radius: 3px;
	    i {
	    	font-style: normal !important;
	    }
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }   
    .search-query:focus{
        width: 400px;
    }   

.top-link {
	margin-right: 11px;
    color: #023149;
}