
$fa-font-path: "~font-awesome/fonts";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Header SCSS bestand
@import 'public-header';

// Footer SCSS bestand
@import 'public-footer'; 

// Font-awesome icons
@import "~font-awesome/scss/font-awesome";

// JQuery UI
@import '~jquery-ui/themes/base/all.css';

body {
	font-family: 'FontAwesome', 'Roboto';
	height: 100%;
	background-color: white !important;
}

main {
	position: relative;
	height: auto;
    margin-bottom: 50px;
}

// Video op homepage

#container-fluid-video {
	padding: 0 !important;
}

// Algemeen op de homepage

%title {
		font-size: 28px;
		font-family: 'Roboto', 'FontAwesome', sans-serif;
		color: #0f71b8;
}

h3 {
	@extend %title;
	font-weight: 900;
}

h4 {
	@extend %title;
	font-weight: 900;
	font-size: 22px;
}

.thin-title {
	@extend %title;
	font-weight: 300;
}

// Featured products op homepage

#featured-products {
	background-color: rgb(243, 243, 243);
	color: black;

	.col {
		background-color: #FFF;
		margin: 15px;
		border-radius: 1px;

		.featured-photo {
			width: auto;
			height: 170px;
			margin-top: 20px;
            margin-bottom: 40px;
		}

		.featured-title {
			font-size: 20px;
			font-weight: 900;
			font-family: 'Roboto', 'FontAwesome', sans-serif;
			color: #000;
		}

		.featured-second-title {
			font-size: 14px;
			font-weight: 400;
			font-family: 'Roboto', 'FontAwesome', sans-serif;
			color: #000;
			margin-bottom: 40px;
		}

		.featured-button {
			margin-bottom: 40px;
			color: #fff !important;
    	    background-color: #0f71b8;
    	    border: 0 !important;
    		border-radius: 500px !important;
		}

		.featured-button:hover {
			background-color: #36a9e1 !important;
		}

	}

}

#beleef-foneday {
	background-color: #fff;
	color: black;

	.col-4 {
		background-color: #FFF;
		border-radius: 1px;
		margin-bottom: 20px;

		.beleef-image {
			width: 100%;
			height: auto;
		}

		h5 {
			font-size: 18px;
    		font-weight: 800;
   			margin-top: 10px;
    		font-family: 'Roboto', 'FontAwesome', sans-serif;
		}


	}

}

#convert-balk {

	height: 160px;

	background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(left, #1e5799 0%, #36a9e1 60%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #1e5799 0%,#36a9e1 60%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #1e5799 0%,#36a9e1 60%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */

.container {

	.row {
		margin-top: 0 !important;
	}


	h3 {
		font-size: 28px;
        font-family: 'Roboto', sans-serif;
    	color: #ffffff;
	}

	h5 {
		font-size: 20px;
    	font-family: 'Roboto', sans-serif;
	    color: #ffffff;
    	font-weight: 300;
	}

	.btn-convert {

		background-color: white;
    	margin-top: 10%;
    	border-radius: 1px;
    	padding: 10px 80px 10px 80px;

	}



}

}

#dashboard-card {
	margin-top: 20px;
}

.row {
	margin-top: 20px;
}

.small-order-total {
	font-size: 14px;
}

.single-order {
	border-top: 1px solid #dfdfdf;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #dfdfdf;
}

.btn-bekijk {
    color: #fff;
    background-color: #0f71b8;
    padding: 5px 20px 5px 20px;
    border-radius: 1px;
    font-size: 12px;
    border-color: #0f71b8;
}

.margin-btn-bekijk {
	margin-left: 66px;
}

.btn-bekijk:hover {
	color: #fff;
}

.order-date {
	font-size: 14px;
	float: right;
}

.card {
	border-radius: 2px !important;
}

#dashboard-navigation {
	padding: 0 !important;
	h3 {
		padding: 5px;
		margin-bottom: -15px;
	}
	ul {
		li:hover {
			background-color: #e1e1e1;
		}
		li {
			a {
				color: black;
				font-style: inherit;
			}
		}
	}
}

.overlay {
   background:url(https://i.imgur.com/JM4Gdcn.jpg);
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
  height:280px;
}

@-webkit-keyframes scroll{
  100%{
    background-position:-3000px 0px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:-3000px 0px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:-3000px 0px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:-3000px 0px;
  }
}

@keyframes scroll{
  100%{
    background-position:-3000px 0px;
  }
}

%dot {
		height: 15px;
		width: 15px;
		border-radius: 50%;
		display: inline-block;
}

#addresscontrol {

	margin-bottom: 35px;

	.row {
		.col-8 {
			.row {
			     #dashboard-card {
			     		.card-header {

			     			height: 40px;

			     			        #nav {
			     			        	margin-top: -4px;

			     			        	.fa-times {
			     			        		color: #b80101;
			     			        	}

			     			        	a {
			     			        		text-decoration: none;
			     			        	}
			     			        }

									.reddot {
									  @extend %dot;
							          background-color: #b80e0e;
							          border: 1px solid #a53838;
									}
									.greendot {
									  @extend %dot;
							          background-color: #43720e;
    								  border: 1px solid #6a7959;										
									}
				     			}

				     		.card-body {
				     			font-size: 12px;
				     		}

			     			}
			   		}
			    }
		}
}

.btn {
	border-radius: 2px;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 !important;
    border-radius: 3px !important;
    outline: 0;
}

.btn-afrekenen {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: #0f71b8 !important;
    border: 1px solid #197dc5 !important;
    width: 100px !important;
    float: right;
    margin-bottom: 5px;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.cart-clear {
    float: right;
    margin-right: 15px;
    margin-top: 9px;
}

.dropdown-menu {
	width: 400px;
}

#products-page {
    font-family: 'Roboto', 'Fontawesome', sans-serif;

	.row {

		#filter {

				.filter-content {

					margin-top: 30px;

					#merken, #kleuren, #prijs-slider {

						#merkenDrop, #kleurenDrop, #prijsSlider {

							.filter-merk {

								.custom-checkbox {

									display: inline-block;

								}

								.filter-aantal {
									display: inline-block;
									float: right;
								}


							}

						}

						div {
							.form-check {
								.filter-check {
									height: 18px;
									width: 18px;
								}
							}
						}

						padding-left: 10px;

						h5 {

							font-size: 15px;
							font-weight: 700;
							font-family: 'Roboto', sans-serif;

						}

					}

					h4 {

						font-size: 18px;

					}

				}

		}

		#products {

			#results {
				display: inline-block;
				margin-left: 20px;
			}

			#sorting {
				.sorting-form {
					margin-left: -12px;
				}
				width: 150px;
				display: inline-block;
				.form-control {
						    display: block;
						    width: 100%;
						    padding: 0.375rem 0.75rem;
						    border-radius: 2px;
						    font-size: 0.9rem;
						    line-height: 1.6;
						    color: #495057;
						    background-color: #fff;
						    background-clip: padding-box;
							border: 0.5px solid #cbccce;
						    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
						    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
						    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
						    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
						}
			}

			#switches {
				display: inline-block;
				float: right;
			}

			margin-top: 25px;

			#content-row {
				margin-top: 0 !important;
			}
			
			.switch:hover {
					text-decoration: none !important;
			}

			.switch {
					span {
						color: #0f71b8;
	   					font-size: 23px;
					}
			}

			.row {

				// .product-col:last-child {
				// 	margin-right: auto;-
				// }

				.product-col {

						flex-grow: 1;
	 					transition: all 1300ms ease-in-out;
						margin-top: 10px;
					    padding-right: 2px !important;
    					padding-left: 2px !important;


    				.product:hover {
    					 box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
 						 transition: box-shadow 0.3s ease-in-out;
 						 z-index: 100;
 					     position: absolute;
   						 height: 440px;
   						 transition: height 0.5s ease-in;
    				}

					.product {

						.product-content {
							height: 70px;
							line-height: 1.4 !important;
							font-family: 'Montserrat', 'FontAwesome', sans-serif;
							.product-brand {
								font-weight: 700;
							}
							.product-color {
							position: absolute;
						    top: 316px;
						    right: 0;
						    margin-right: 12px;
						    .color {
						    	display: inline-block;
						    	border: 1px solid black;
						    	width: 18px;
						    	height: 18px;
						    }
							}
						}

						span {
							margin-left: 15px;
						}

						hr {
							margin: unset !important;
						}

					    background-color: white;
						margin: 2px;
						height: 390px;
						box-shadow: 0 1px 2px rgba(0,0,0,0.15);
						border-radius: 2px;
						overflow: hidden;

						#product-nav {
							padding: 0px 0px 0px 10px;

							.amount {
								    width: 50px;
   									padding: 1px 5px 3px 5px;
     								margin-left: 17px;
							}
							span {
								margin-left: 0px !important;
							}
						}

						.product-image {

							    height: auto;
    							width: 100%;
   								padding: 15px;
   								display: none;
   								pointer-events: none;
								user-select: none;

						}

						.active {
							display: block !important;
						}

						.picked {
							    border: 2px solid #0f71b8 !important;
						}

						.prev, .next {
						  cursor: pointer;
						  position: absolute;
						  top: 140px;
						  width: auto;
						  margin-top: -22px;
						  padding: 16px;
						  color: white;
						  user-select: none;
						  font-weight: bold;
						  font-size: 18px;
						  transition: 0.6s ease;
						  border-radius: 0 3px 3px 0;
						}

						.prev {
							display: none;
						}

						.next {
						  right: 0;
						  border-radius: 3px 0 0 3px;
						}

						.prev:hover, .next:hover {
						  background-color: rgba(0,0,0,0.8);
						}

						.product-title {

							font-size: 15px;

						}

						.discount {
							font-size: 13px;
							color: #939393;
							font-weight: 100 !important;
							text-decoration: line-through;
							text-decoration-color: red;
						}

						.product-price {
							    float: right;
   								 margin-right: 15px;
							    font-weight: 600;
							    color: #0f71b8;

						}

						.product-stars {
							margin-top: 7px;
							margin-left: 15px;
						}

						%voorraad {

							padding: 0px 6px 0px 6px;
						    margin-top: 10px;
						    float: right;
						    margin-right: 10px;
						    font-size: 11px;
						    font-weight: 600;
						    font-family: 'Montserrat', 'FontAwesome', sans-serif;

						}

						.quality-oem {

							@extend %voorraad;
							color: green;
						    border: 1px solid green;

						}

						.quality-oem:after {
							content: 'OEM';
						}

						.quality-aftermarket {
							@extend %voorraad;
							color: #ca0000;
   							border: 1px solid #ca0000;
						}

						.quality-aftermarket:after {
							content: 'AFTERMARKET';
						}

						.quality-genuine {
							@extend %voorraad;
							color: #ca0000;
   							border: 1px solid #ca0000;
						}

						.quality-genuine:after {
							content: 'GENUINE NEW';
						}

						.quality- {
							@extend %voorraad;
							color: #ca0000;
   							border: 1px solid #ca0000;
						}

						.quality-:after {
							content: 'ONBEKEND';
						}

						.star {
							color: #ffbe0f;
							margin-top: 10px;
							margin-left: 0.5px;
						}

						.star-1:after {
							content: '\f005';
						}

						.star-2:after {
							content: '\f005\f005';
						}

						.star-3:after {
							content: '\f005\f005\f005';
						}

						.star-4:after {
							content: '\f005\f005\f005\f005';
						}

						.star-5:after {
							content: '\f005\f005\f005\f005\f005';
						}

						.row {
							margin-bottom: 5px;
						}

					}

				}

			}

		}

	}

}



		[data-toggle="collapse"] .fa:before {  
  content: "\f063";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f062";
}


// Enkel product

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #3490dc;
    background-color: #fff;
    border: 0 !important;
}

.btn-cart {
	width: 100%;
	-webkit-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.75);
}

.cart-open-icon {
	display: inline-block;
}

.remove-from-cart {
    margin-right: 40px;
    position: absolute;
    right: 0;
}

.jiggle {
    -webkit-animation: jiggle 0.2s infinite;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-1deg);
    }
    50% {
        -moz-transform: rotate(1deg);
    }
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
        }
    50% {
        -webkit-transform: rotate(1deg);
    }
}
.cart-header-content {
	height: 50px;
}

.cart-page-image {
	height: 90px;
	width: 80px;
	margin-left: 15px;
}

.cart-page-product-title {
	position: absolute;
    margin-top: 5px;
    font-weight: 600;
    font-family: "Roboto";
    margin-left: 15px;
    font-size: 17px;
}

.cart-page-product-stock {
	position: absolute;
    margin-top: 28px;
    font-weight: 400;
    margin-left: 15px;
    font-size: 14px;
}

.cart-page-product-aantal {
	select {
	    position: absolute;
	    width: 100px;
	    border-radius: 2px !important;
	    margin-top: 55px;
	    margin-left: 65px;
	}
}

.cart-page-product-delete {
    position: absolute;
    margin-top: 55px;
    right: 0;
}

.cart-page-product-price {
	position: absolute;
	right: 0;
	margin-right: 30px;
	margin-top: 5px;
}

.cart-page-product-aantal-title {
	position: absolute;
    margin-top: 60px;
    font-size: 12px;
    margin-left: 15px;
}

.cart-product {
	background-color: white;
}

#cart-side {
    background-color: white;
    width: 100%;
    padding: 10px;
    margin-top: 66px;
    border: 1px solid #e5e5e5;
}

.postcode-field {
	display: inline-block;
		input {
			width: 100px;
		}
}

.huisnummer-field {
	display: inline-block;
		input {
			width: 55px;
		}
}

.adres-field {
	width: 300px;
}

.dorp-field {
	width: 300px;
}

.payment-rule {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

.payment-row {
	margin-top: 1px !important;
	margin-bottom: 1px !important;
}

.not-paid {
	color: red;
	font-weight: 600;
}

.payment-row-pay {
	color: #0f71b8;
}

.invoice-pay-message {
	color: red;
}

.details-form-row {
	.col-6 {
		.form-group {
			label {
				margin-bottom: 5px !important;
			}
			.form-control {
				margin-bottom: 10px !important;
			}
		}
	}
}

#cart-side {
	hr {
		margin-top: 4px !important;
		margin-bottom: 4px !important;
	}
}

#cart-continue {
	background-color: white;
	height: 45px;
    .pull-right {
    	text-align: right;
    }
}

#eerder-bekeken {
   margin-left: 26px;
}

.eerderbekeken {
	text-align: center;
    border: 1px solid #d4d4d4;
    padding: 5px;
    background-color: white;
}

.bekeken-product-image {
	width: 100%;
    height: 145px;
}

.ptext {
	text-align: left !important;
    margin-top: 7px;
    padding: 5px;
    font-weight: 600;
    .price {
		color: #d12c2a;
		font-weight: 400;
    }
    .discount {
	    text-decoration: line-through;
	    font-size: 12px;
	    font-weight: 400;
    }
}

#blocks {
		.col-3 {
			border: 1px solid #d4d4d4;
			border-left: 0px !important;
			padding-left: 0px !important;
			padding-right: 0px !important;
			overflow: hidden;
		}
		.col-3-first {
			border: 0;
			border-bottom: 2px solid #0f71b8;
			margin-bottom: 0px !important;
		}
	}

#eerderbekekendiv {
	    margin-left: -30px;
}

#firstrow {
	.col-8 {
		padding-left: 0 !important;
	}
	.col-4 {
		padding-right: 0 !important;
	}
}

	
#eerder-bekeken {
	margin-top: 15px;
	.pimages {
		height: 140px;
	}
	.row {
		.col-2 {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

#balkpluscontainer {
		font-family: 'FontAwesome', 'Roboto';
		background-color: #0f71b8;
	#balkplus {
		.row {
			.col-4 {
				font-size: 14px;
				color: white;
				padding: 13px;
				font-weight: 500 !important;
				.fas {
					padding-right: 10px;
				}
			}
		}
	}
}

.veilig-verbinding {
	font-size: 18px;
    font-weight: 200;
    color: #494141;
    span {
    	margin-right: 5px;
    }
}

.progressbar {
      counter-reset: step;
  }
  .progressbar li {
      list-style-type: none;
      width: 25%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #7d7d7d;
  }
  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 30px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li.active {
      color: green;
  }
  .progressbar li.active:before {
      border-color: #55b776;
  }
  .progressbar li.active + li:after {
      background-color: #55b776;
  }

  #checkout-shipment {

  	background-image: url(/images/background/honey-1.png);
  	background-position-x: 300px;
  	background-color: white;
    background-repeat: no-repeat;
  	border: 1px solid #d4d4d4;
    padding: 10px;
    #bezorgmethode {
    	.form-check {
    		display: inline-block;
		    width: 49%;
		    border: 1px solid black;
    	}
    }
  }

  div.clear
{
    clear: both;
}

div.product-chooser{
    
}

    div.product-chooser.disabled div.product-chooser-item
	{
		zoom: 1;
		filter: alpha(opacity=60);
		opacity: 0.6;
		cursor: default;
	}

	div.product-chooser div.product-chooser-item{
		padding: 11px;
		border-radius: 3px;
		cursor: pointer;
		position: relative;
		border: 1px solid #efefef;
		background-color: white;
		margin-bottom: 10px;
	}
	
	div.product-chooser div.product-chooser-item.selected{
	    border: 2px solid #0f71b8;
	    background: #efefef;
	    padding: 9px;
	    padding-bottom: 12px;
	    filter: alpha(opacity=100);
	    opacity: 1;
	}
	
		div.product-chooser div.product-chooser-item img{
			padding: 0;
		}
		
		div.product-chooser div.product-chooser-item span.title{
			display: block;
			margin: 10px 0 5px 0;
			font-weight: bold;
			font-size: 12px;
		}
		
		div.product-chooser div.product-chooser-item span.description{
			font-size: 12px;
		}
		
		div.product-chooser div.product-chooser-item input{
			position: absolute;
			left: 0;
			top: 0;
			visibility:hidden;
		}

		.big-icon {
			font-size: 32px;
		}

		.choose-shipment {
			padding-left: 0px;
   			padding-right: 0px;
		}

		#checkout-adres {
			display: none;
		}

		#checkout-ophalen {
			display: none;
		}

		#checkout-pickup {
			display: none;
		}

		.checkout-button {
			display: none;
		}

.betalen-bedrag {
	font-weight: 500;
}

.ideallogo {
	height: auto;
    width: 180px;
    margin-top: 3px;
}

.paypallogo {
	height: 50px;
	margin-top: 15px;
}

.boxedpayment {
	height: 80px;
	text-align: center;
}

.topblok {
		border: 1px solid #d4d4d4;
		height: 279px;
		background-color: white;
		padding: 10px;
}

.buttonsblok {
		border: 1px solid #d4d4d4;
		background-color: white;
		padding: 10px;
		height: 37px;
    	width: 250px;
}

.btn-dashboard {
	position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    background-color: #0f71b8;
    border-color: #0f71b8;
}

.btn-dashboard:hover {
    color: #fafafa;
    background-color: #36a9e1;
    border-color: #36a9e1;
}

.accountmanager {
	border: 1px solid #d4d4d4;
    height: 339px;
    background-color: white;
    padding: 10px;
    overflow: hidden;
    img {
    	margin-top: 15px;
    	width: 100%;
    }
}

#firstrow {
	.row {
		.col-6 {
			padding-left: 0 !important;
		}
	}
}

/* Columns */
.left-column {
    position: relative;
    text-align: center;
    height: 522px;
    margin-top: 60px;
}

.whiteboxed {
	 background-color: white;
	 border: 1px solid #e9e9e9;
	 height: 100%;
}

.picture-boxed {
	height: 522px !important;
}

.right-column {
      background-color: white;
    padding: 24px;
    border: 2px dashed grey;
  margin-top: 60px;
  float: right;
}


/* Left Column */
.left-column img {
  width: 65%;
  margin-top: 80px;
  margin-left: 16.5%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}


/* Right Column */

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Configuration */
.product-color span,
.cable-config span {
  font-size: 14px;
  font-weight: 400;
  color: #86939E;
  margin-bottom: 20px;
  display: inline-block;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: #C91524;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}
 
.color-choose input[type="radio"]:checked + label span {
  background-image: url(/images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}

.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}
.cable-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}

.discount {
			color: #939393;
			font-weight: 100 !important;
			text-decoration: line-through;
			text-decoration-color: red;
}

.nt {
	position: absolute;
    background-color: #000000a6;
    color: white !important;
    margin-left: 280px;
    padding: 15px;
    margin-top: 230px;
}

.omschrijving {
    margin-top: 10px;
    text-align: left;
    background-color: white;
    border: 1px solid #e9e9e9;
    height: auto;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 15px;
}

#creditrequest-form {
	width: 70%;
}

// Define vars we'll be using
$brand-success: #5cb85c;
$loader-size: 7em;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 3px;
$check-color: $brand-success;

.circle-loader {
  margin-bottom: $loader-size/2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: $check-color;
  animation: loader-spin 1.2s infinite linear;
  position: absolute;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  left: 447px;
  top: 90px;
  width: $loader-size;
  height: $loader-size;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: $check-color;
  transition: border 500ms ease-out;
}

.checkmark {
  display: none;
  
  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  
  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    left: $check-left;
    top: $check-height;
    position: absolute;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}
.verwerktext {
		h5 {
			color: #0f71b8;
		    font-weight: 600;
		}
		h6 {
			font-weight: 300;
    		margin-top: -18px;
		}
}

#verwerktextdone {
	display: none;
}

.checkout-confirm {
	height: 240px;
}

.btn-bekijk-bestelling {
	margin-top: 93px;
	display: none;
}

#lastorders {

	.col-4 {
		.card {
			.card-body {
				height: 190px;
				padding: 0.25rem;
				.postal-logo {
				    position: absolute;
				    height: auto;
				    width: 20px;
				    top: 5px;
				    left: 9px;
				}
				.order-date {
					position: absolute;
				    right: 0;
				    margin-top: 11px;
				    font-weight: 300;
				    font-size: 13px;
				    margin-right: 7px;
				}
				.order-number {
					position: absolute;
				 	font-weight: 300;
  					font-size: 13px;
					margin-top: -4px;
				    right: 0;
				    margin-right: 6px;
				}
				.order-info {
					position: absolute;
				    top: 109px;
				    font-weight: 300;
				    margin-left: 6px;
				}
				hr {
					position: absolute;
					width: 97%;
				}

				.line-1 {
				    top: 19px;
				}

				.line-2 {
					top: 80px;
				}
				.order-products {
					position: absolute;
    				top: 43px;
    				img {
    					margin-left: 10px; 
    					height: 41px; 
    					width: auto;
    				}
				}
			}
		}
	}

}

.postnllogo {
	height: auto;
    width: 86px;
}

.btn-pay {
	display: none;
}

#searchinput {
    display: inline-block;
    width: 81%;
}

.loading {
  display: none;
}

div.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.5);
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #ffffff;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}

#services-balk {
	.row {
		border-top: 1px solid #e2e4e6;
		border-bottom: 1px solid #e2e4e6;
		.col-3:hover {
			background-color: #f2f2f2;
		}
		.col-3 {
			   -moz-user-select: -moz-none;
			    -khtml-user-select: none;
			    -webkit-user-select: none;
			    -o-user-select: none;
			    user-select: none;
			.fas {
			    font-size: 51px;
			    color: #023149;
			}
			.content-head {
			    position: absolute;
			    top: 19px;
			    color: #023149;
			    font-size: 17px;
			    left: 76px;
			}
			.content-footer {
			    position: absolute;
			    font-size: 12px;
			    top: 42px;
			    left: 76px;
			}	
		}
	}
}


.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%)
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

#productslider {
	margin-top: 15px;
}

.carousel-item {
	.col-3 {
		display: inline-block;
	}
}

				.product-col {

						flex-grow: 1;
	 					transition: all 1300ms ease-in-out;
						margin-top: 10px;
					    padding-right: 2px !important;
    					padding-left: 2px !important;

					.product {

						.product-content {
							height: 70px;
							line-height: 1.4 !important;
							font-family: 'Montserrat', 'FontAwesome', sans-serif;
							.product-brand {
								font-weight: 700;
							}
							.product-color {
							position: absolute;
						    top: 316px;
						    right: 0;
						    margin-right: 12px;
						    .color {
						    	display: inline-block;
						    	border: 1px solid black;
						    	width: 18px;
						    	height: 18px;
						    }
							}
						}

						span {
							margin-left: 15px;
						}

						hr {
							margin: unset !important;
						}

					    background-color: white;
						margin: 2px;
						height: 350px;
						box-shadow: 0 1px 2px rgba(0,0,0,0.15);
						border-radius: 2px;
						overflow: hidden;

						#product-nav {
							padding: 0px 0px 0px 10px;

							.amount {
								    width: 50px;
   									padding: 1px 5px 3px 5px;
     								margin-left: 17px;
							}
							span {
								margin-left: 0px !important;
							}
						}

						.product-image {

							    height: auto;
    							width: 100%;
   								padding: 15px;
   								display: none;
   								pointer-events: none;
								user-select: none;

						}

						.active {
							display: block !important;
						}

						.picked {
							    border: 2px solid #0f71b8 !important;
						}

						.prev, .next {
						  cursor: pointer;
						  position: absolute;
						  top: 140px;
						  width: auto;
						  margin-top: -22px;
						  padding: 16px;
						  color: white;
						  user-select: none;
						  font-weight: bold;
						  font-size: 18px;
						  transition: 0.6s ease;
						  border-radius: 0 3px 3px 0;
						}

						.prev {
							display: none;
						}

						.next {
						  right: 0;
						  border-radius: 3px 0 0 3px;
						}

						.product-title {

							font-size: 15px;

						}

						.discount {
							font-size: 13px;
							color: #939393;
							font-weight: 100 !important;
							text-decoration: line-through;
							text-decoration-color: red;
						}

						.product-price {
	    					float: right;
						    font-weight: 600;
						    margin-top: -20px;
						    color: #0f71b8;
						    margin-right: 6px;
						}

						.product-stars {
							margin-top: 7px;
							margin-left: 15px;
						}

						%voorraad {

							padding: 0px 6px 0px 6px;
						    margin-top: 10px;
						    float: right;
						    margin-right: 10px;
						    font-size: 11px;
						    font-weight: 600;
						    font-family: 'Montserrat', 'FontAwesome', sans-serif;

						}

						.quality-oem {

							@extend %voorraad;
							color: green;
						    border: 1px solid green;

						}

						.quality-oem:after {
							content: 'OEM';
						}

						.quality-aftermarket {
							@extend %voorraad;
							color: #ca0000;
   							border: 1px solid #ca0000;
						}

						.quality-aftermarket:after {
							content: 'AFTERMARKET';
						}

						.quality-genuine {
							@extend %voorraad;
							color: #ca0000;
   							border: 1px solid #ca0000;
						}

						.quality-genuine:after {
							content: 'GENUINE NEW';
						}

						.quality- {
							@extend %voorraad;
							color: #ca0000;
   							border: 1px solid #ca0000;
						}

						.quality-:after {
							content: 'ONBEKEND';
						}

						.star {
							color: #ffbe0f;
							margin-top: 10px;
							margin-left: 0.5px;
						}

						.star-1:after {
							content: '\f005';
						}

						.star-2:after {
							content: '\f005\f005';
						}

						.star-3:after {
							content: '\f005\f005\f005';
						}

						.star-4:after {
							content: '\f005\f005\f005\f005';
						}

						.star-5:after {
							content: '\f005\f005\f005\f005\f005';
						}

						.row {
							margin-bottom: 5px;
						}

					}

				}