// SCSS bestand voor de footer van het publieke deel.

#footer {

	width: 100%;
    position: absolute;
	background-color: #292929;
	color: white;
	padding-top: 35px;
	font-family: 'Roboto', sans-serif;

	.container {

		.small-links {
			font-size: 12px;
			font-weight: 600;
			margin-bottom: 10px;
		}

		.small-text {
			font-size: 12px;
			margin-bottom: 35px;
		}

		.row {

			margin-top: 0 !important;

		}

		h6 {

			font-weight: 600;

		}

		.right {
			text-align: right;
		}

		ul {
			list-style-type: none;
			padding: 0;

			li {

				#beheerurl {
					color: red !important;
				}

				a {

					color: white !important;
					font-size: 12px;

				}

			}
		}

	}

}